@{
    Layout = "_Layout";
}

<div style="margin-left:20px; padding:20px;">
    <h1 style="color:red; font-size:20px;
     font-family:'Times New Roman'; font-weight:300">
    Access denied!!! Authorize as admin or user to get acces to
    propriate areas.</h1>
</div>